$font-stack: "Roboto", sans-serif;
$primary-color: #4c4c4c;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: $font-stack;
  background: rgba(204, 204, 204, 0.28);
}

.grad {
  height: auto;
  width: auto;
  top: 56px;
  left: 0px;
}

.content {
  height: auto;
  margin-top: 76px;
}

header {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;

  h3 {
    color: #000;
    position: absolute;
    left: 20px;
    line-height: 75px;
  }

  nav {
    float: right;
    height: 75px;
    ul {
      align: right;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      line-height: 71px;
      display: inline-block;
      margin: 0 15px 0 0;
      text-transform: uppercase;

      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $primary-color;

        img {
          background: url(data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/XBs/fNwfjZ0frl3/zy7////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAkAABAALAAAAAAQABAAAAVVICSOZGlCQAosJ6mu7fiyZeKqNKToQGDsM8hBADgUXoGAiqhSvp5QAnQKGIgUhwFUYLCVDFCrKUE1lBavAViFIDlTImbKC5Gm2hB0SlBCBMQiB0UjIQA7)
          no-repeat
          center center;
          padding: 5px 5px 5px 5px;
          height: 24px;
          width: 24px;
          vertical-align: middle;
        }
      }

      a:hover {
        color: #cdd;
      }
    }
  }
}

.section {
  height: 600px;
  padding: 10px;
  border: 1px solid #ccc;
}

.about {
  @extend .section;
  background-color: green;
}

.blog {
  @extend .section;
  background-color: red;
}

.photography {
  @extend .section;
  background-color: yellow;
}

.contact {
  @extend .section;
  background-color: tan;
}

footer {
  display: block;
  nav {
    background: #FFF;
    border-top: 1px solid #CCC;
    padding: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }

      a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      }
    }
  }
}
