* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto",sans-serif;
  background: rgba(204, 204, 204, 0.28);
}

.grad {
  height: auto;
  width: auto;
  top: 56px;
  left: 0px;
}

.content {
  height: 1000px;
}

header {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;
}
header h1 {
  position: absolute;
  right: 100%;
}
header h1 a {
  line-height: 21px;
}
header nav {
  float: right;
  height: 75px;
}
header nav ul {
  align: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav li {
  line-height: 73px;
  display: inline-block;
  margin: 0 15px 0 0;
  text-transform: uppercase;
}
header nav li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #4c4c4c;
}
header nav li a:hover {
  color: #cdd;
}

footer nav {
  background: #FFF;
  bordor-top: 1px solid #CCC;
  padding: 10px;
}
footer nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer nav ul li {
  display: inline-block;
}
footer nav ul a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
